header
  font-family 'Monoton', cursive
  font-weight 400
  font-size 72px
  color white

footer
  font-family 'Raleway', sans-serif
  font-weight 400
  font-size 16px
  color white

.wrapper
  font-family 'Raleway', sans-serif
  color white

@media all and (max-width:500px)
  header
    font-size 48px
